<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>I help make user-friendly digital experiences.</h2>
        <p class="lead">For 10+ years I have applied UX design practices in complex scientific and industrial domains. This includes web, mobile and embedded user interface projects for John Deere, Integrated DNA Technologies, Mojiva and more.</p>
        <p><a href="#portfolio" class="btn btn-dark btn-lg">Past Projects</a></p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
