<footer class="noprint">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 text-center">
        <div style="font-size:150%;font-weight:300;">"Luke is a tremendous asset to any user experience or digital marketing team. Given the opportunity, I would re-hire him because he is a great person and teammate, and technically skilled in his profession."
        </div>
        <div class="text-muted" style="margin-bottom:30px;margin-top:20px;"><strong>- Jerry Steele</strong>
          <br />Senior Program Manager, Microsoft</div>
      </div>
    </div>
  <hr />
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h4><strong>{{ site.owner }}</strong>
        </h4>
        <p>
          {% for address in site.address %}
          {{ address.line }}<br>
          {% endfor %}
        </p>
        <ul class="list-unstyled">
          <li><i class="fa fa-phone fa-fw"></i> {{ site.telephone }}</li>
          <li><i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:{{ site.email }}">{{ site.email }}</a>
          </li>
        </ul>
        <br>
        <ul class="list-inline">
          <li>
            <a href="https://www.linkedin.com/in/luke-smith-ux-researcher/"><i class="fa fa-linkedin fa-fw fa-3x"></i></a>
          </li>
          <li>
            <a href="https://ux.stackexchange.com/users/22257/luke-smith"><i class="fa fa-stack-exchange fa-fw fa-3x"></i></a>
          </li>
        </ul>
        <hr class="small">
        <p class="text-muted">Copyright &copy; {{ site.copyright }} 20{{ site.time | date: '%y' }}</p>
      </div>
    </div>
  </div>
</footer>
